
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        transition: all 0.2s;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &--white {
        background-color: #fff;
        color: #777;
    }

    .bnt::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        transition: all 0.4s;
        position: absolute;
        z-index: -1;
    }

    &--white::after {
        background-color: #fff;
    }

    &:hover::after {
        transform: scale(1.5);
        opacity: 0;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}
