/* 
セレクタ名の改善

- .ex--dashboard-transcript-wrapper
  .ex-dashboard-transcript__wrapper

- .ex--dashboard-transcript--header
  .ex-dashboard-transcript__header

- .ex--dashboard-transcript--transcript-panel
  .ex-dashboard-transcript__transcript--panel

- .ex--dashboard-transcript--cue-container
  .ex-dashboard-transcript__transcript--cue-container

- .ex--dashboard-transcript--cue--underline
  .ex--dashboard-transcript__transcript--cue-underline

- .ex--dashboard-transcript--autoscroll-wrapper
    .ex-dashboard-transcript__footer
*/
/*
NOTE:
    ExTranscriptを`position: absolute;`で配置するために、
    埋め込むときの埋め込み親要素(本家の要素)に対して
    `position: relative;`を付与している

*/
// 本編と関係ない部分
// ~~テスト用ページを本家と同じにするために必要な部分~~
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // 10px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 300vh;
    font-size: 1.6rem;
}

.header {
    height: 5.6rem;

    color: #fff;
    background-color: #1c1d1f;
    height: 5.6rem;
    align-items: center;
    border-bottom: 1px solid #3e4143;
}

.main {
    width: 100%;
    height: 30rem;
    background-color: black;
}

.dashboard {
    position: relative;
}

// font-weight: 400;
//     line-height: 1.4;
//     font-size: 1.6rem;
//     color: #1c1d1f;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$color-primary: #f7f9fa;
$color-white: #fff;
$color-highlight: #cec0fc;

@mixin respond($breakpoint) {
    @if $breakpoint == middleview {
        @media (min-width: 1183px) {
            width: 25%;
        }
    }
    @if $breakpoint == wideview {
        @media (max-width: 1182px) {
            width: 300px;
        }
    }
    // @if $breakpoint == bottomview {
    //     // NOTE: 本家は75emで指定していた...
    //     @media (max-width: 75em) {
    //         width: 100%;
    //     }
    // }
}

p {
    font-size: inherit;
    font-weight: 400;
    max-width: 60rem;
}

.ex-dashboard-transcript {
    font-size: inherit;
    box-sizing: inherit;
    line-height: inherit;

    &__wrapper {
        // 必ず一番上に来るようにz-indexを設けている
        z-index: 3;
        position: absolute;
        top: 0;
        // 本家は@mediaで指定していた...けど毎度挿入するだけだから関係ない...
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.8rem 0.8rem 1.6rem;
        border: 1px solid #d1d7dc;
        background-color: $color-white;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
            0 4px 12px rgba(0, 0, 0, 0.08);
        margin-bottom: 3px;
    }

    &__footer {
        padding: 0.4rem 1.6rem;
        // background: $color-primary;
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
    }

    &__transcript {
        &--panel {
            max-height: 30rem;
            // In case few transcrpt.
            height: 300px;
            overflow-y: auto;

            // ここじゃないかも念のため
            background-color: $color-primary;
        }

        // --highlight--はここにつけている
        // 本家ではspanに対して付けている
        &--cue-container {
            padding: 0.4rem 1.6rem;

            &--highlight-- {
                padding: 0.4rem 1.6rem;
                background-color: $color-highlight;
                box-shadow: 0.8rem 0 0 $color-highlight,
                    -0.8rem 0 0 $color-highlight;
                box-decoration-break: clone;
            }
        }

        &--cue-underline {
        }
    }
}
