@charset "UTF-8";
/* 
本体に対してやること：

1. セレクタ名の改善

sidebar:

- .ex--sidebar-column --> `.ex-sidebar__column`
- .ex--sidebar--sidebar --> `.ex-sidebar__sidebar`
- .ex--sidebar--sidebar-header --> `.ex-sidebar__header`
- .ex--sidebar--content --> `.ex-sidebar__content`
- .ex--sidebar-content-panel --> `.ex-transcript__panel`
- .ex--sidebar-transcript--cue-container --> `.ex-transcript__cue-container`
- .nothingYet --> `.ex-transcript__cue`
- .ex--sidebar-transcript--autoscroll-wrapper --> `.ex-sidebar__footer`

他、data-系も見直したほうがいい...

bottom:

- .ex--dashboard-transcript-wrapper
  .ex-dashboard-transcript__wrapper

- .ex--dashboard-transcript--header
  .ex-dashboard-transcript__header

- .ex--dashboard-transcript--transcript-panel
  .ex-dashboard-transcript__transcript--panel

- .ex--dashboard-transcript--cue-container
  .ex-dashboard-transcript__transcript--cue-container

- .ex--dashboard-transcript--cue--underline
  .ex--dashboard-transcript__transcript--cue-underline

- .ex--dashboard-transcript--autoscroll-wrapper
    .ex-dashboard-transcript__footer

2. sidebar時のmiddleviewとwideviewに関する処理を消すこと
    CSSだけで解決できたから


*/
/*
NOTE:
    ExTranscriptを`position: absolute;`で配置するために、
    埋め込むときの埋め込み親要素(本家の要素)に対して
    `position: relative;`を付与している

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 300vh;
  font-size: 1.6rem; }

.header {
  height: 5.6rem;
  color: #fff;
  background-color: #1c1d1f;
  height: 5.6rem;
  align-items: center;
  border-bottom: 1px solid #3e4143; }

.main {
  height: 30rem;
  background-color: black; }
  @media (max-width: 980px) {
    .main {
      width: 100%; } }
  @media (min-width: 981px) {
    .main {
      width: 75%; } }

.dashboard {
  position: relative; }

p {
  font-size: inherit;
  font-weight: 400;
  max-width: 60rem; }

.ex-sidebar {
  font-size: inherit;
  box-sizing: inherit;
  /*
        Udemyのページに埋め込む
        本家のTranscriptの上にぴったり表示させるので
        position: fixed;にしている
        埋め込むときの本家の親要素は、
        ".app--content-column--HC_i1"
    */ }
  .ex-sidebar__column {
    position: fixed;
    right: 0;
    /* 重ね合わせコンテキストがあったら埋もれないようにひとまず2にした */
    z-index: 2;
    /* top: 本家でそうなので、JavaScriptで計算する */
    width: 25%; }
    @media (min-width: 61.31em) and (max-width: 75em) {
      .ex-sidebar__column {
        width: 30rem; } }
  .ex-sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border: 1px solid #d1d7dc;
    border-right: 0;
    background-color: #fff; }
  .ex-sidebar__content {
    z-index: 1;
    background-color: #fff;
    border: 1px solid #f7f9fa;
    overflow-x: hidden;
    overflow-y: auto;
    /* 
          height: 本家でそうなので、JavaScriptで計算する 
          ブラウザの垂直方向のリサイズに応じて変化する
          ウィンドウの上下いっぱいに伸びるようにしている
        */ }
  .ex-sidebar__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-left: 1px solid #f7f9fa;
    border-right: 1px solid #f7f9fa;
    border-top: 2px solid #fff;
    background: #f7f9fa; }

.ex-transcript__panel {
  background-color: #f7f9fa; }

.ex-transcript__cue-container {
  padding: 0.4rem 1.6rem; }
  .ex-transcript__cue-container--highlight {
    padding: 0.4rem 1.6rem;
    background-color: #cec0fc;
    box-shadow: 0.8rem 0 0 #cec0fc, -0.8rem 0 0 #cec0fc;
    box-decoration-break: clone; }

.ex-dashboard-transcript {
  font-size: inherit;
  box-sizing: inherit;
  line-height: inherit; }
  .ex-dashboard-transcript__wrapper {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%; }
  .ex-dashboard-transcript__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border: 1px solid #d1d7dc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 3px; }
  .ex-dashboard-transcript__footer {
    padding: 0.4rem 1.6rem;
    border-left: 1px solid #f7f9fa;
    border-right: 1px solid #f7f9fa; }
  .ex-dashboard-transcript__transcript--panel {
    max-height: 30rem;
    height: 300px;
    overflow-y: auto;
    background-color: #f7f9fa; }
  .ex-dashboard-transcript__transcript--cue-container {
    padding: 0.4rem 1.6rem; }
    .ex-dashboard-transcript__transcript--cue-container--highlight-- {
      padding: 0.4rem 1.6rem;
      background-color: #cec0fc;
      box-shadow: 0.8rem 0 0 #cec0fc, -0.8rem 0 0 #cec0fc;
      box-decoration-break: clone; }
