/*
セレクタ命名規則はBEMを参考に変更した

どうやら基準のサイズは10pxでそこからremしているっぽい

- 基準のfont-sizeを設けること（もしくはUdemyのページを勝手に継承してくれるのか？）

要確認：
- コンパイル後の出力値が本家のものとかと一致しているか確認のこと
- font-size

*/

// お試し編集中...
$color-primary: #f7f9fa;
$color-white: #fff;

p {
    font-size: inherit;
    font-weight: 400;
    max-width: 60rem;
}

.ex-sidebar {
    font-size: inherit;

    &__column {
        position: fixed;
        right: 0;
        /* 重ね合わせコンテキストがあったら埋もれないようにひとまず2にした */
        z-index: 2;
        /* top: 本家でそうなので、JavaScriptで計算する */
        @media (max-width: 1182px) {
            width: 300px;
        }

        @media (min-width: 1183px) {
            width: 25%;
        }
    }

    &__sidebar {
        // nothing defined.
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.8rem 0.8rem 1.6rem;
        border: 1px solid #d1d7dc;
        border-right: 0;
        background-color: #fff;
    }

    &__content {
        z-index: 1;
        background-color: #fff;
        border: 1px solid $color-primary;
        overflow-x: hidden;
        overflow-y: auto;
        /* 
          height: 本家でそうなので、JavaScriptで計算する 
          ブラウザの垂直方向のリサイズに応じて変化する
          ウィンドウの上下いっぱいに伸びるようにしている
        */
    }

    &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;

        padding: 0.8rem 1.6rem;
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
        background: $color-primary;

        /* dev */
        // background-color: red;
    }
}

.ex-transcript {
    &__panel {
        background-color: $color-primary;
    }

    &__cue-container {
        padding: 0.4rem 1.6rem;
    }

    &__cue {
        // nothing defined
    }
}
